<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/techologo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/techologo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TitanScouting">
        <activity
            android:name=".views.Teleop"
            android:exported="false" />
        <activity
            android:name=".views.Autonomous"
            android:exported="false"
            android:label="@string/title_activity_autonomous"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TitanScouting">

        </activity>
        <activity
            android:name=".views.Summary"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.Endgame"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.QRScreen"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Homepage"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.Pregame"
            android:exported="false"
            android:label="@string/pre_game"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.logs.Logs"
            android:exported="false"
            android:label="@string/logs"
            android:screenOrientation="landscape" />
    </application>

</manifest>